
.article {
	max-width: 44em;
	margin: 0 auto;
	margin-top:-5em;
	font-size: 1.25em;
	background-color: #fff;
	padding: 1em 4em;
	font-weight: 400;
	border-radius: 5px;
	
	@include clearfix;
}

.article h1 {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}

.article p {
	line-height: 150%;
}

.article p:first-of-type {
	font-weight: 600;
}

.article blockquote {
	margin-left: -2em;
	margin-right: -2em;
	text-align: justify;
	font-size: 1.25em;
	color: $pink;
}

.article a {
	transition: background 0.5s linear;
}

.article a:hover {
	background: $lightblue;
}

.coverimg {
	background-image: url(img/bigheader.jpg);
	background-position: center top;
	height: 300px;
	z-index: -1;

	@media (min-width: 1000px) {
		background-attachment: fixed;
	}
}





.bio {

	@media (min-width: 640px) {	
		img {
			float: left;
			max-width: 30%;
			margin-right: 1em;
		}
	}
	
	margin-bottom: 1em;
	@include clearfix;

}


.bio .third{
	margin-bottom: 2em;
	margin-top:.5em;	
}



.about { 
	
	max-width: 44em;
	margin: 0 auto;
	font-size: 1.25em;
	background-color: #fff;
	padding: 1em 4em;
	font-weight: 400;
	color: #383535;

	
}

.about img {
	filter: grayscale(100%);
	transition: all 0.5s linear;
	
}

.bio:hover img {
	filter: grayscale(50%);
	
}

.about .social img{
	width: 34px;
	float: right;
	filter: grayscale(0%);
	margin-top: -28px;
}

.about h1 {
	margin: -5px 0;
	font-weight: 200;
	font-size: 1.5em;
	padding: 10px 0 0 0;
}

.about h2 {
	margin: 0;
	font-weight: 200;
	color: #777;
	font-size: 1.2em;
}

.about p {
	font-size: 18px;
	padding: 5px;
}

.about2 {
	float: none;
}

.social {
	width: 100%;
		
	}
.social li{
	float: left;
	margin: 0px auto;
	}

		
@media (max-width: 800px) {
		
.article {
		padding: 1em;
		}
.article blockquote  {
	margin-left: 0;
	margin-right:0;
}

.about {
	margin: 0 1em;
	padding: 0;
}



.third {
	max-width:45%;
}

	#welcome header {
	font-size: 1em;}
}

			

@media (max-width: 530px) {

.article {
	margin-top:-10em;}

.article blockquote {
	text-align: left;
}

.third {
	max-width: 100%;
}
#project_list li li {
	width: 100% 
}		
	
}
