$blue: #3FAEEC;
$lightblue: #B3E0F8;
$pink: #DA4A8F;
$lightpink: #E594B9;

@mixin clearfix {
	&:after {
		display: table;
		clear: both;
		content: ' ';
	}
}
		
		html,body {
			height: 100%;
			padding: 0;
			margin: 0;
			font-family: 'Open Sans', sans-serif;
			font-size: 100%;
			color: #292929;
			letter-spacing: .02em;
		}
			
		* { 
			box-sizing: border-box;
		}
		
		img {
			max-width: 100%;
			
		}
		a { 
			color: $blue;	
			text-decoration: none;		
			
			&:hover {
				color: darken($blue,10%);
			}
		}
		
		.button {
			width: 100%;
			
			margin: 0 0 1em;

			display: inline-block;
			background: $blue;
			color: #FFF;
			padding: 0.5em 1em;
			border-radius: 0.2em;
			font-size: 1.1em;
			text-transform: uppercase;
			font-weight: 500;
		  	transition:.4s;	
		
		  	@media (min-width: 480px) {
			  	width: auto;
			  	margin: 0 0.5em 1em;
		  	}
		}
		
		
		.button:first-of-type {
			margin-left: 0;
		}
		
		.button:hover {
			background-color: darken($blue,10%);
			text-shadow: 0px 1px 1px #187ba3;
			color: #FFF;

		}

				
		h1,h2,h3,h4,h5,h6 {
			font-weight: normal;
		}
		

		.title {
	
			font-size: 2em;
			text-align: left;
		}
		

		

	


.video {
	position: relative;
	width: 100%;
	padding: 0;
	padding-top: 75%;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#wemake { margin: 2em 0 1em 0;  }

.left {
	float: left;
}

