		#header {
			position: absolute;
			width: 100%;
			z-index: 100;
			padding: 1rem;
		
		}
		
		
				
		
		@media (min-width: 1024px) {
			#header.fixed {
				position: fixed;
			}
			
		}
		
		#home {
			display: none;
		}
		
		
		@media (min-width: 768px) {
			#home {
				float: left;
				color: #FFF;
				border: 1px solid #FFF;
				border-radius: 3px;
				padding: 0.5em 1em;
				display: block;
			
				&:hover {
					background: #FFF;
					color: $pink;
				}
			}
		}