		#projects {
			float: right;
			
/* 			text-align: center; */
			
			
		}
				
		@media (min-width: 1024px) {
			#projects { 
				margin-left: 50%;
				padding: 0px;
				
			}
			
		}
		
		
				

		
		#projects h1 {
			font-size: 5rem; 
			margin:0;
		}
		

		#project_list { 
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		#project_list li {
			margin-top: 3rem;
			margin-bottom: 3rem;
			padding:0 2rem 2rem 2rem ;
			border-bottom: 1px solid #e4e4e4;
		
			&.centered {
				text-align: center;
			}	
			
			&:last-child {
				border-bottom: 0;
			}
		}
		
		#project_list li ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		#project_list li ul:after {
			display: table;
			clear: both;
			content: ' ';
		}
		#project_list li li {
			float: left;
			width: 50%;
			padding: 1rem 0;
			margin:0;
			border-bottom: 0;
			font-size: 24px;
			text-align: left;
		}
		
		#project_list a { 
			text-decoration: none;
		}


		#project_list h1 {
			padding: 1rem;
		}

		#project_list h2 {
			padding: 0rem;
		}

		#project_list p {
			padding: 1rem 0;
			
			text-align: left;
			margin: 0px auto;
			font-size: 1.2em;
			line-height: 1.6em;
			letter-spacing: .01em;
		}
			
		
		div.tagsinput { border:1px solid #CCC; background: #FFF; padding:1em; margin-bottom: 1em; width:300px; height:100px; overflow-y: auto;}
		
		div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 0.5em; text-decoration:none; background: #cde69c; color: #638421; margin-right: 0.5em; margin-bottom:0.5em;  font-size:1.5em;}
		
		div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 1em;  } 
		
		div.tagsinput input { width:80px; margin:0px; font-family: helvetica;  border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;   padding: 0.5em;  margin-right: 0.5em; margin-bottom:0.5em; font-size:1.5em;}
		
		div.tagsinput div { display:block; float: left; } 
		
		.tags_clear { clear: both; width: 100%; height: 0px; }
		
		.not_valid {background: #FBD8DB !important; color: #90111A !important;}		
				
	